@font-face{
   font-family : "notor";
   src : url('../font/NotoSansKR-Regular.otf') format('opentype');
   src : url('../font/NotoSansKR-Regular.woff') format('woff'),
   url('../font/NotoSansKR-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}

@font-face{
   font-family : "notom";
   src : url('../font/NotoSansKR-Medium.otf') format('opentype');
   src : url('../font/NotoSansKR-Medium.woff') format('woff'),
   url('../font/NotoSansKR-Medium.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}

@font-face{
   font-family : "notob";
   src : url('../font/NotoSansKR-Bold.otf') format('opentype');
   src : url('../font/NotoSansKR-Bold.woff') format('woff'),
   url('../font/NotoSansKR-Bold.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}